{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<style>

.background {
   background-image: linear-gradient(
      rgba(255, 255, 255, 0.3), 
      rgba(255, 255, 255, 0.4)
    ),
    url(https://eskipaper.com/images/nature-background-3.jpg);
    background-position: center;

}

.leadFont {
    color:#343a40;
}
</style>


<header class="bg-success py-5" style="background-color: #7bed9f !important;">
            <div class="container px-1 px-lg-1 my-1">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder" style="color:#343a40;">Printemps 2022</h1>
                    <p class="lead fw-normal text-white-50 mb-0" style="color:#343a40 !important;">Profitez de -22% de réduction sur certains de nos produit pour le printemps</p>
                </div>
            </div>
        </header>

        <br>



{% include '/base/flash.html.twig' %}
<div class="container">
<div class="card card-body">
  <div class="row">
    <div class="col-sm-4">

<div class="card">
<div class="card-header">Les marques</div>
<div class="card-body">
    <nav class="nav flex-column">
        {% for marque in marques %}
            <a class="nav-link active" href="">{{ marque.getLibelle() }}</a>
        {% endfor %}
    </nav>
</div>
</div>
<br>

    </div>
    <div class="col-sm-8">

  <nav aria-label="breadcrumb">
     <ol class="breadcrumb">
       <li class="breadcrumb-item"><a href="#">Accueil</a></li>
       <li class="breadcrumb-item active" aria-current="page">Produits</li>
     </ol>

   </nav>

<div class="card card-body">

<section>
<h1 class="">Produit mis en avant</h1>
</section><br>
<section>

<h1>Nouveautés</h1>

</section>

</div>
</div>



</div><br>

{% endblock %}
